<!DOCTYPE html>
<html ng-app="testApp">
<head>
    <meta charset="UTF-8">
    <title>Simple Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-controller="TestController as vm">
        <h1>Simple Test</h1>
        <p>Current time: {{vm.currentTime}}</p>
        <p>Test data: {{vm.testData}}</p>
        <button ng-click="vm.loadData()">Load Data</button>
        <div ng-if="vm.loaded">
            <p>Data loaded: {{vm.data}}</p>
        </div>
    </div>

    <script>
        angular.module('testApp', [])
        .controller('TestController', function() {
            var vm = this;
            vm.currentTime = new Date().toLocaleString();
            vm.testData = 'Hello World';
            vm.loaded = false;
            vm.data = null;

            vm.loadData = function() {
                vm.data = 'Data loaded at ' + new Date().toLocaleString();
                vm.loaded = true;
            };
        });
    </script>
</body>
</html>